<section id="shorten_page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 ">
        <img class="img-fluid" src="/imgs/logo.png" alt="Logo">
      </div>

    </div>
    <div class="col-8"></div>
    <h1>This is the full URL</h1>
    <div class="col-8"></div>
    <a href="{{fullURL}}" class="myLink">{{fullURL}}</a>
    <div class="col-8"></div>
    <h1>Here is your shorten URL</h1>
    <div class="col-8"></div>
    <a href="/{{shortURL}}" class="myLink">http://localhost:3000/{{shortURL}}</a>
  </div>
</section>